*{
    color: rgb(24, 45, 77);
    font-family: 'Vollkorn', serif;
}

body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/741/376/small/abstract-banner-web-template-design-background-white-and-gray-squares-layered-with-halftone-vector.jpg);
}